body {
    background-color: #D2A679
}
h1 {
    text-align: center;
}
h2 {
    font-size: 3rem;
}
h4 {
    font-size: 16px;
    font-weight: 700;
}

@media (min-width: 750px) {
    header {
        text-align: left;
    }
}

ul {
    list-style: none;
}

.submenu {
    position: relative;
}

.card {
    text-align: center;
    border: 1px solid white;
    background: white;
}
@media (min-width: 550px) {
    .card {
        text-align: left;
    }
}
.info-card  {
    padding: 10px 20px;
}

.info-card p, 
.card h4 {
    margin-bottom: 5px;
}
.info-card .precio {
    text-decoration: line-through;
    font-size: 18px;
    margin-top: 10px;
}
.info-card .precio span {
    font-weight: 700;
    font-size: 22px;
}


.footer {
    margin-top: 40px;
    border-top:1px solid white;;
    padding-top: 40px;   
}
.footer .menu a{
display: block;
margin-bottom: 10px;
text-decoration: none;
}


/* Estilo para ocultar y mostrar el formulario */
.d-none {
    display: none;
}

.container-btn {
    text-align: center;
    margin-top: 20px;
}

#hero {
    background-image:url(../img/banner.png);
    height: 350px;
    background-size: cover;
}


.producto {
    margin-bottom: 20px; /* Ajusta este valor según tus necesidades */
}

.producto img {
    padding-left: 20px;
}

/* Estilos para el modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
}
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.categoria-container {
    margin-top: 20px;
}
.categoria-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.categoria-header h1 {
    margin: 0;
}